body {
    height: 100vh;
    width: 100vw;
    font-family: 'montserrat';
    font-weight: 700;
    background-color: black;
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.shiny-text {
    background: linear-gradient(to right, #4d4d4d 0, white 15%, #4d4d4d 30%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-position: 0px;
    padding: 0 175px;
    animation: shine 3s infinite linear;
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    80%, 
    100% {
        background-position: 550px;
    }
}